@page
@model WEBlaba2.Pages.catalog.Issey_Miyake_Le_SelModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Рив-Гош</title>
	<link href="~/styles/stylescss.css" rel="stylesheet" />
</head>
<body class="menuCatalog">
    <div style="background: #ff8000" class="base header">
        <div class="grid-container-head">
            <div class="grid-item-center"><img style="width:150px" src="~/images/logo.png"></div>
            <div class="grid-item-center"><h1>РИВ ГОШ</h1></div>
            <div class="grid-item-center" bgcolor="#ffbb34">
                <div class="flex-container" style="background: #ffbb34; width:100%; height:100%; flex-direction:column ; justify-content:space-evenly">
                    <div style="gap: 15px; padding: 0 10px;" class="flex-container">
                        <div class="flex-item" style="width: 60px; text-align: right; flex: none;">логин: </div>
                        <div class="flex-item"><input type="text"></div>
                    </div>
                    <div style="gap: 15px; padding: 0 10px;" class="flex-container">
                        <div class="flex-item" style="width: 60px; text-align: right; flex: none;">пароль: </div>
                        <div class="flex-item"><input type="password"></div>
                    </div>
                    <div class="flex-container" style="justify-content:center">
                        <input type="submit" value="войти" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-container-razdels base" height="35">
        <div class="flex-item-center"> <A href="#">Раздел 1</A> </div>
        <div class="flex-item-center"> <A href="#">Раздел 2</A></div>
        <div class="flex-item-center"> <A href="#">Раздел 3</A></div>
        <div class="flex-item-center"> <A href="#">Раздел 4</A> </div>
    </div>

    <div class="grid-container-main base ">
        <div class="grid-item" style="background:#ff8000">
            <div class="flex-container " style="flex-direction:column">
                <div class="flex-item-center"> <a asp-page="/Index">Главная</a></div>
                <div class="flex-item-center"> <a asp-page="/Catalog"> Каталог</a></div>
                <div class="flex-item-center"> <a asp-page="/contacts"> Контакты</a></div>
                <div class="flex-item-center"> <a asp-page="/aboutme"> О нас</a> </div>
            </div>
        </div>

        <div class="grid-item">
            
            <img class="img-border" src="~/imagesCatalog/Issey Miyake Le Sel D'issey Eau de Toilette.jpg" />
            <h3 class=" heading">Issey Miyake Le Sel D'issey Eau de Toilette<br></h3>
            <p class="shortDescription">Туалетная вода | 50 мл</p>
            <p>5790 ₽</p>
            <p class="fullDescription">
                Откройте для себя контрастную композицию, исследующую взаимодействие свежести йода, соленых нот с искрящимся характером и пряных древесных мотивов.
                Разбудите чувства ярким сочетанием тепла и свежести, которое заставит вас почувствовать себя живым.
            </p><br />
            <p class="list">Характеристики</p>
            <ul>
                <li class=" ulmy">  <div class="ulmy flex-container "><div class="list flex-item-ul">Продукт</div><div class="list flex-item-ul">Туалетная вода (Eau de Toilette)</div></div></li>
                <li class="ulmy"><div class="ulmy flex-container "> <div class="list flex-item-ul">Объем, мл</div><div class="list flex-item-ul">50</div></div></li>
                <li class="ulmy"> <div class="ulmy flex-container "><div class="list flex-item-ul">Категория</div><div class="list flex-item-ul">Парфюмерия</div></div></li>
                <li class="ulmy"> <div class="ulmy flex-container "><div class="list flex-item-ul">Страна производстват</div><div class="list flex-item-ul">Испания</div></div></li>
                <li class="ulmy"> <div class="ulmy flex-container "><div class="list flex-item-ul">Для кого</div><div class="list flex-item-ul">Мужчин</div></div></li>
                <li class="ulmy"><div class="ulmy flex-container "> <div class="list flex-item-ul">Аромат парфюма</div><div class="list flex-item-ul">Древесные свежие</div></div></li>
            </ul>
           
        </div>

        <div class="grid-item" style="background:#ff8000">
            <div class="flex-container" style="flex-direction:column ; justify-content:space-evenly">
                <div class="flex-item-center">
                    <a href=https://www.dior.com />
                    <img class="baner" src="~/images/Dior_Logo.png">

                </div>
                <div class="flex-item-center">
                    <a href=https://www.versace.ru />
                    <img class="baner" src="~/images/Versace.jpg">

                </div>
                <div class="flex-item-center">
                    <a href=https://www.dove.com/us/en/home.html>
                        <img class="baner" src="~/images/dove.jpg">
                    </a>
                </div>

            </div>
        </div>

    </div>

    <div class="base head" style="background: #ff8000;">
        <p class="HeaderText text" style="height:35px; margin:0; padding:5px">© 2025 РИВ ГОШ. Все права защищены.</p>
        <p class="HeaderText text" style="height:35px; margin:0; padding:5px">Телефон: 8 (800) 2344460 | shopadmin@rivegauche.ru</p>
    </div>


</body>
</html>
