
<div id="documentModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-header">
            <h2 class="modal-title" id="modalTitle">Документ</h2>
        </div>
        <iframe id="documentViewer" class="document-viewer" src=""></iframe>
        <div class="modal-actions">
            <a id="downloadLink" href="#" class="btn-download" download>Скачать документ</a>
            <button class="btn-download" onclick="closeModal()">Закрыть</button>
        </div>
    </div>
</div>